*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:url(lofi.jpg);
    height: 100;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 69px);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color:#ecf0f3;
    color:  grey;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 50px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    
}

button{
    height: 48px;
    width: 48px;
    margin: 8px;
    background-color: #ecf0f3;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    
     
}

.eq{
    width: 115px;
    border-radius: 40px;
}
